<div class="wrapper" (click)="pspOpen = !pspOpen">
    <h1>{{ pspOpen ?  '▾' : '▸' }} Privacy and Security Policy</h1>
    <div class="{{pspOpen ? '' : 'hidden'}}">
        <p>Effective Date: Sunday, December 1, 2024</p>
        <p>Last Updated: Sunday, December 1, 2024</p>
        <h2>Introduction</h2>
        <p>
            At Destination Picker, we value your privacy and are committed to protecting your personal
            information. This Privacy and Security Policy outlines how we collect, use, store, and safeguard your data when
            you use our services.
        </p>
        <ol>
            <li>
                <h3>Information We Collect</h3>
                <p>We may collect the following types of information:</p>
                <p>Personal Information: Name, email address</p>
                <p>Usage Data: IP address, browser type, pages visited, time spent on pages, and other analytics.</p>
                <p>Device Information: Device type, operating system, and other technical details.</p>
            </li>
            <li>
                <h3>How We Use Your Information</h3>
                <p>The information we collect is used to:</p>
                <p>Provide and improve our services.</p>
                <p>Process transactions and send confirmations.</p>
                <p>Respond to customer support requests.</p>
            </li>
            <li>
                <h3>Data Sharing and Disclosure</h3>
                <p>
                    We do not sell, trade, or rent your personal information to third parties. However, we may share data
                    with:
                </p>
                <p>Service Providers: To assist in delivering our services.</p>
                <p>Legal Requirements: When required by law or to protect our legal rights.</p>
            </li>
            <li>
                <h3>Data Retention</h3>
                <p>We retain your information only as long as necessary to fulfill the purposes outlined in this policy or
                    comply with legal obligations.</p>
            </li>
            <li>
                <h3>Security Measures</h3>
                <p>We implement the following security measures to protect your data:</p>
                <p>Access Control: Limited access to sensitive information.</p>
                <p>Regular Audits: Periodic security and privacy audits.</p>
                <p>Secure Storage: Use of encrypted databases and secure servers.</p>
            </li>
            <li>
                <h3>Your Rights</h3>
                <p>You have the right to:</p>
                <p>Access, correct, or delete your personal data.</p>
                <p>Withdraw consent for data processing.</p>
            </li>
            <li>
                <h3>Cookies and Tracking Technologies</h3>
                <p>Our website and services use cookies to enhance user experience and gather analytics. You can manage your
                    cookie preferences in your browser settings.</p>
            </li>
            <li>
                <h3>Third-Party Links</h3>
                <p>Our services may contain links to third-party websites. We are not responsible for the privacy practices
                    of
                    these sites and encourage you to review their privacy policies.</p>
            </li>
            <li>
                <h3>Children's Privacy</h3>
                <p>Our services are not directed to children under the age of 13. We do not knowingly collect personal
                    information from children.</p>
            </li>
            <li>
                <h3>Policy Updates</h3>
                <p>We may update this policy from time to time. Changes will be posted on this page, and the "Last Updated"
                    date will be revised.</p>
            </li>
            <li>
                <h3>Contact Us</h3>
                <p>If you have any questions about this policy, please contact us.</p>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper" (click)="dmcaOpen = !dmcaOpen">
    <h1>{{ dmcaOpen ?  '▾' : '▸' }} DMCA Notice & Takedown Policy</h1>
    <div class="{{dmcaOpen ? '' : 'hidden'}}">
        <p>Effective Date: Sunday, December 1, 2024</p>
        <p>Last Updated: Sunday, December 1, 2024</p>
        <p>
            Destination Picker ("we," "us," or "our") respects the intellectual property rights of others and expects
            our
            users to do the same. In compliance with the Digital Millennium Copyright Act (DMCA), we have implemented
            the
            following policy for reporting alleged copyright infringement.
        </p>
        <ol>
            <li>
                <h3>Filing a DMCA Notice (Copyright Infringement Notification)</h3>
                <p>
                    If you believe your copyrighted material is being used on our website or services without your
                    authorization, you may submit a DMCA Notice to our designated agent. The notice must include the
                    following information:
                </p>
                <ol type="i">
                    <li>Your Contact Information: Your name, address, telephone number, and email address.</li>
                    <li>
                        Identification of the Copyrighted Work: A description of the copyrighted material you claim has
                        been
                        infringed.
                    </li>
                    <li>
                        Location of the Infringing Material: The URL or other specific location of the material on our
                        website or services.
                    </li>
                    <li>
                        A Statement of Good Faith: A statement that you have a good faith belief that the use of the
                        material is not authorized by the copyright owner, its agent, or the law.
                    </li>
                    <li>
                        A Statement of Accuracy: A statement, under penalty of perjury, that the information in your
                        notice
                        is accurate and that you are the copyright owner or authorized to act on behalf of the copyright
                        owner.
                    </li>
                    <li>
                        Your Physical or Electronic Signature: A signature or digital signature of the copyright owner
                        or
                        their authorized representative.
                    </li>
                </ol>
                <p>Send your DMCA Notice to our Designated Agent</p>
            </li>
            <li>
                <h3>Responding to a DMCA Notice</h3>
                <p>Upon receiving a valid DMCA Notice, we will:</p>
                <ol type="i">
                    <li>Remove or disable access to the allegedly infringing material.</li>
                    <li>Notify the user who uploaded or provided the content.</li>
                </ol>
            </li>
            <li>
                <h3>Filing a Counter-Notice</h3>
                <p>If you believe your content was removed or disabled by mistake or misidentification, you may submit a
                    Counter-Notice. The Counter-Notice must include:</p>
                <ol type="i">
                    <li>Your Contact Information: Your name, address, telephone number, and email address.</li>
                    <li>
                        Identification of the Material: A description of the material that was removed or disabled and
                        its
                        location before removal.
                    </li>
                    <li>
                        A Statement of Good Faith: A statement, under penalty of perjury, that you have a good faith
                        belief
                        that the material was removed or disabled as a result of mistake or misidentification.
                    </li>
                    <li>
                        A Consent Statement: A statement that you consent to the jurisdiction of the federal court in
                        your
                        judicial district (or the district where your address is located) and that you will accept
                        service
                        of process from the party that filed the original DMCA Notice.
                    </li>
                    <li>Your Physical or Electronic Signature: A signature or digital signature.</li>
                </ol>
                <p>Send your Counter-Notice to our Designated Agent</p>
            </li>
            <li>
                <h3>Repeat Infringers</h3>
                <p>
                    We reserve the right to terminate accounts or access to our services for users who are found to be
                    repeat
                    infringers.
                </p>
            </li>
            <li>
                <h3>Limitations of Liability</h3>
                <p>We are not responsible for the content users upload or share on our platform. However, we will take
                    appropriate action upon receiving valid DMCA Notices.</p>
            </li>
            <li>
                <h3>Policy Updates</h3>
                <p>We reserve the right to update this policy at any time. Updates will be posted on this page, and the
                    "Last
                    Updated" date will be revised accordingly.</p>
            </li>
            <li>
                <h3>Contact Us</h3>
                <p>If you have any questions about this policy, please contact us.</p>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper" (click)="aupOpen = !aupOpen">
    <h1>{{ aupOpen ? '▾' : '▸' }} Acceptable Use Policy</h1>
    <div class="{{aupOpen ? '' : 'hidden'}}">
        <p>Effective Date: Sunday, December 1, 2024</p>
        <p>Last Updated: Sunday, December 1, 2024</p>
        <p>
            Destination Picker ("we," "us," or "our") is committed to providing a safe, secure, and reliable
            service for all users. This Acceptable Use Policy ("Policy") outlines the rules and restrictions for using
            our services, platforms, and related resources.
        </p>
        <p>By using our services, you agree to comply with this Policy. Violations of this Policy may result in
            suspension
            or termination of your access to our services, and legal action may be taken where appropriate.</p>
        <ol>
            <li>
                <h3>Prohibited Uses</h3>
                <p>You may not use our services to:</p>
                <ol type="i">
                    <li>
                        <h4>Illegal Activities</h4>
                        <p>Violate any applicable laws, regulations, or ordinances.</p>
                        <p>
                            Facilitate or promote illegal activities, such as fraud, money laundering, or the sale of
                            illegal goods or services.
                        </p>
                    </li>
                    <li>
                        <h4>Harmful Conduct</h4>
                        <p>Engage in activities that harm, harass, abuse, or threaten others.</p>
                        <p>
                            Transmit, distribute, or store material that is obscene, defamatory, libelous, or invasive
                            of
                            privacy.
                        </p>
                    </li>
                    <li>
                        <h4>Network and System Abuse</h4>
                        <p>Interfere with, disrupt, or overload our services, networks, or systems.</p>
                        <p>Deploy malware, viruses, ransomware, or other harmful software.</p>
                        <p>Gain unauthorized access to systems, networks, or data.</p>
                    </li>
                    <li>
                        <h4>Infringement of Intellectual Property</h4>
                        <p>
                            Use, share, or distribute copyrighted material, trademarks, or other intellectual property
                            without proper authorization.</p>
                    </li>
                    <li>
                        <h4>Spamming and Unsolicited Communications</h4>
                        <p>Send bulk emails, spam, or other unsolicited communications.</p>
                        <p>Engage in phishing or impersonation activities.</p>
                    </li>
                    <li>
                        <h4>Circumvention of Security Measures</h4>
                        <p>Bypass or attempt to bypass security mechanisms or access controls.</p>
                        <p>Use tools to scrape, mine, or harvest data without authorization.</p>
                    </li>
                </ol>
            </li>
            <li>
                <h3>User Responsibilities</h3>
                <ol type="i">
                    <li>
                        <h4>Account Security</h4>
                        <p>
                            You are responsible for maintaining the confidentiality of your account credentials and for
                            all
                            activities that occur under your account.
                        </p>
                    </li>
                    <li>
                        <h4>Accurate Information</h4>
                        <p>Provide accurate and truthful information during registration and use of our services.</p>
                    </li>
                    <li>
                        <h4>Reporting Violations</h4>
                        <p>Promptly report any suspected violations of this Policy to our contact page.</p>
                    </li>
                </ol>
            </li>
            <li>
                <h3>Monitoring and Enforcement</h3>
                <p>
                    We reserve the right to monitor, investigate, and take appropriate action against any activity that
                    violates this Policy. This includes:
                </p>
                <ul>
                    <li>Suspending or terminating user accounts.</li>
                    <li>Removing or disabling access to prohibited content.</li>
                    <li>Reporting violations to law enforcement or regulatory authorities.</li>
                </ul>
            </li>
            <li>
                <h3>Limitations and Liability</h3>
                <p>
                    We are not liable for any user-generated content on our platform. Users are solely responsible for
                    the
                    content they create, upload, or share.
                </p>
            </li>
            <li>
                <h3>Updates to this Policy</h3>
                <p>
                    We may update this Policy from time to time. Changes will be effective immediately upon posting on
                    our
                    website or service. Continued use of our services after updates constitutes acceptance of the
                    revised
                    Policy.
                </p>
            </li>
            <li>
                <h3>Contact Us</h3>
                <p>If you have questions or concerns about this Policy, please contact us.</p>
            </li>
        </ol>
    </div>
</div>