<div id="wrapper">
    <div id="main" (click)="isOpen = !isOpen">
        {{ isOpen ? '▾' : '▸' }} {{ destination.destination }},
        {{ destination.region }}, {{ destination.country }}
    </div>
    <div class="info {{isOpen ? '' : 'hidden'}}">
        <p class="info-element" *ngIf="destination.average_rating">
            Average Rating: {{ parseFloat(destination.average_rating) / 2 }} / 5
        </p>
        <p class="info-element">Annual Tourists: {{ destination.annual_tourists }}</p>
        <p class="info-element">Currency: {{ destination.currency }}</p>
        <p class="info-element">Famous Foods: {{ destination.foods }}</p>
        <p class="info-element">Language: {{ destination.language }}</p>
        <a class="info-element" href="/destinations/{{destination.id}}">See More</a>
        <button class="info-element"
                (click)="window.open('https://duckduckgo.com/?q=' + destination.destination + '+' + destination.country)">
            Search Online
        </button>
    </div>
</div>
